/**
 * Colors: Palette
 *
 * The primitive colors used for accent colors. These colors are referenced
 * by functional colors such as "Text", "Background", or "Brand".
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-green-1: #6db300;
  --vp-c-green-2: #82e000;
  --vp-c-green-3: #95ff00;
  --vp-c-green-soft: rgba(109, 179, 0, 0.15);
}
.dark {
  --vp-c-green-1: #a5ff2d;
  --vp-c-green-2: #95ff00;
  --vp-c-green-3: #7ed800;
  --vp-c-green-soft: rgba(149, 255, 0, 0.16);
}

/**
 * Colors: Function
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 *
 * To understand the scaling system, refer to "Colors: Palette" section.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-note-1: var(--vp-c-brand-1);
  --vp-c-note-2: var(--vp-c-brand-2);
  --vp-c-note-3: var(--vp-c-brand-3);
  --vp-c-note-soft: var(--vp-c-brand-soft);
}

/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly distinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-bg: #fcfcfa;
  --vp-c-bg-alt: #f8f8f6;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f4;
}
.dark {
  --vp-c-bg: #151518;
  --vp-c-bg-alt: #101012;
  --vp-c-bg-elv: #1c1c22;
  --vp-c-bg-soft: #212129;
}

/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 *
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 *
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the lest of the page.
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-divider: #e5e5e0;
  --vp-c-border: #c2c2c4;
  --vp-c-gutter: #e5e5e0;
}
.dark {
  --vp-c-divider: #27272b;
  --vp-c-border: #3c3f44;
  --vp-c-gutter: var(--vp-c-black);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */
:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-black);
  --vp-button-brand-bg: var(--vp-c-brand-2);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-black);
  --vp-button-brand-hover-bg: var(--vp-c-brand-3);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-black);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}
.dark {
  --vp-button-brand-text: var(--vp-c-black);
  --vp-button-brand-hover-text: var(--vp-c-black);
  --vp-button-brand-active-text: var(--vp-c-black);
}

/** Misc */

:root {
  --vp-code-block-bg: var(--vp-c-bg-soft);
  --vp-code-block-divider-color: var(--vp-c-divider);
}

.dark {
  --vp-code-color: var(--vp-c-brand-2);
  --vp-code-lang-color: #999999;
}

html.dark .light-only {
  display: none !important;
}

html:not(.dark) .dark-only {
  display: none !important;
}

.reference-image {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid var(--vp-c-divider);
}
